@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --darkblue: #262a41;
  --pink: #f935a9;
  --purple: #7946c1;
  --main-green: #30bbb5;
  --green: #75d6d1;
  --light-green: #30bbb574;
  --white: #ffffff;
  --white-light: rgba(255, 255, 255, 0.7);
  --light-grey: rgba(38, 42, 65, 0.52);
  --bg-grey: rgba(60, 63, 84, 0.11);
}

/*Initializing and resetting"*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Poppins;
  line-height: 1.4;
  background-color: var(--darkblue);
  color: var(--white-light);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  column-gap: 20px;

  justify-items: space-between;
  padding: 5%;
}

/*search-panel*/
.search-panel {
  grid-column: 1 / span 5;
}

.greetings {
  font: normal normal 200 4.9rem Poppins;
}

#username {
  font: normal normal bold 3.7rem Poppins;
  color: var(--white);
}

.searchContainer {
  display: flex;
  position: relative;
  border-radius: 2.5rem;
  overflow: hidden;
  min-width: 90%;
  background-color: #3c3f54;
  margin: 2.6rem 0;
}

.searchIcon {
  padding: 1.8rem;
}

.searchBox {
  border: 0;
  padding: 1.5rem;
  min-width: 90%;
  background-color: #3c3f54;
  font: normal normal 200 1.8rem Poppins;
}

.category-list {
  list-style-type: none;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, auto);
  justify-items: flex-start;
  align-items: center;
  padding-top: 10px;
}

.category-list li {
}

.img-wrapper {
  width: 122px;
  height: 111px;
  border: none;
  background-color: var(--pink);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  font-size: 4rem;
  color: var(--white);
  cursor: pointer;
}

.img-wrapper:focus {
  transform: scale(1.2, 1.2);
  transition: transform ease-in-out 0.7s;
  outline: none !important;
}

.all-users .img-wrapper {
  background-color: var(--pink);
}

.male-users .img-wrapper {
  background-color: var(--green);
}

.female-users .img-wrapper {
  background-color: var(--purple);
}

.category-list li p {
  text-align: center;
  padding: 1.5rem 0;
}

/*result panel*/
.result-panel {
  grid-column: 7 / span 6;
  background: #f7f7ff;
  border-radius: 28px;
  color: var(--darkblue);
  padding: 2.4rem;
}

.result-panel .title {
  font: normal normal bold 3.7rem Poppins;
}

.user {
  background-color: #fcfcff;
  border-radius: 18px;
  box-shadow: 10px 10px 40px #0000000d;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 15px 0;
}

.user-image {
  flex: 0 0 15%;
}

.user-image img {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid var(--light-green);
}

.details {
  flex: 0 0 70%;
  padding-left: 2%;
}

.details .name {
  color: var(--darkblue);
  font: normal normal bold 1.8rem Poppins;
}

.details .address {
  font: italic normal 1.4rem Poppins;
  padding: 0.3rem 0;
}

.email-phone {
  font: normal normal 1.4rem Poppins;
  color: var(--light-grey);
}

.email-phone i {
  padding-right: 4px;
}
.email-phone span {
  padding-right: 4px;
}

.view_more {
  background-color: var(--main-green);
  color: var(--white);
  padding: 8px 15px;
  border-radius: 5px;
  box-shadow: 2px 15px 30px #30bbb574;
  outline: none;
  border: none;
  cursor: pointer;
}

/*Select country button*/
.custom-select select {
  padding: 8px 15px;
  width: 120px;
  border-radius: 25px;
  background-color: var(--light-grey);
  position: relative;
  border: none;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  width: 120px;
  border-radius: 34px;
  margin: 0 10px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
  border-radius: 34px;
}

.select-selected {
  background-color: var(--bg-grey);
  border-radius: 34px;
  color: var(--bg-grey);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--darkblue) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--darkblue) transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: var(--darkblue);
  padding: 8px 10px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--main-green);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Toogle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Find in list*/
.findContainer {
  display: inline-flex;
  position: relative;
  border-radius: 2.5rem;
  overflow: hidden;
  flex: 0 0 35%;
  background-color: var(--bg-grey);
  margin: 2.6rem 0;
}

.findIcon {
  padding: 1.3rem;
}

.findBox {
  border: 0;
  padding: 1rem;
  min-width: 100%;
  background-color: var(--bg-grey);
  font: normal normal 200 1.8rem Poppins;
}

.show-country {
  font-size: 1.2rem;
}

.find-section {
  display: flex;
  align-items: center;
}

/*Download section*/
.download-section {
  display: flex;
  justify-content: space-between;
  margin-top: 2.6rem;
}

.download-button {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: var(--purple);
  color: var(--white);
  outline: none;
  border: none;
  font: normal normal 600 1.4rem Poppins;
  cursor: pointer;
}

.download-button i {
  padding: 0 5px;
}

.pagination a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.previous {
  background-color: #e2e2ea;
  color: var(--darkblue);
}

.next {
  background-color: var(--darkblue);
  color: var(--white);
}

.userContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  color: var(--light-grey);
}

.image-wrap img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 8px solid var(--light-green);
}

.user-details .name {
  font: normal normal bold 2.8rem Poppins;
  margin-right: 5px;
  padding: 10px 0;
  color: var(--darkblue);
}
.user-details .name span {
  font-weight: 200;
  color: var(--light-grey);
}
.user-details .address {
  font: normal normal 300 Poppins;
}
.user-details .email {
  display: inline-block;
  padding: 8px 12px;
  background-color: var(--bg-grey);
  border-radius: 100px;
  margin: 10px 0;
}
.user-details .joined {
  display: inline-block;
  padding: 8px 12px;
  background-color: rgba(249, 53, 169, 0.5);
  text-transform: uppercase;
  border-radius: 100px;
  margin: 10px 0;
}
.user-details .phone p {
  padding: 8px 12px;
  margin-bottom: 2px;
}
.result {
  color: var(--light-grey);
  margin: 10px 0;
  vertical-align: center;
}
.result i {
  color: var(--light-green);
  padding-right: 5px;
  font-size: 2.3rem;
}
.result:hover {
  cursor: pointer;
  color: var(--main-green);
}

@media screen and (max-width: 1020px) {
  html {
    font-size: 52.5%;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 24px;
    margin: auto;
  }

  .search-panel,
  .result-panel {
    grid-column: 1 / 1;
  }
}
